body {
	background-color: #212529;
}

.fsize  {
	color: white;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.fsize:hover {
	color: #0067f4;
	transform: scale(1.7,1.7);
	text-align: center;
}

.side-bar {
	position: fixed;
	left : 0;
	height: 100%;
	width: 7%;
	top: 0;
	display:table;

}

.alignav {
	display: table-cell;
	vertical-align: middle;

}
.nav {
	border-style: solid;
	border-left: none;
	padding-top: 10%;
	padding-bottom: 10%;
}

.nav a {
	text-align:center;
}

#intro {
	min-height: 100%; 
}

#intro img {
	height: 300px;
	width: auto;
	margin: auto;
}

h1 {
	color: white;
}

header {
	padding: 20px;
}